<div class="leftBlock marginRight">
	<%= form_for @o_single, :html => { :class => 'attachmentsUpload' } do |f| %>
		<h2>Locate File</h2>
	    <%= f.hidden_field :folder_id, :value => (session[:parent_folder_id] ? session[:parent_folder_id] : nil) %>
	    <%= f.hidden_field :user_id, :value => current_user.id %>
	    <%= f.file_field :file_path, :class => 'text_field' %>
	    
	  <span id="spinner" style="display: none;float: right;margin-right: 170px;">
	    <%= image_tag "loading.gif" %>
	  </span>			    
			
			<div class="clearBoth">&nbsp;</div>
			
	    <div class="socialBlockCloud"><%= link_to image_tag("cloud.png", :width => "91", :height => "91"), "#", :id => "save_on_cloud"%></div>
	<% end %>
	
	<div class="clearBoth">&nbsp;</div>
	    
	<% if @folder %>
		<% if @folder.file_content_type.include? 'image' %>
			<%= image_tag @folder.file_path, :width => "100", :height => "100" %><br />
		<% else %>
			<%= @folder.name %><br />
		<% end %>
	<% end %>	
	
		
  <div class="socialBlock">
  	<div class="socialBlockIcons">
  	  <h3>How would you like to share?</h3>
  	  	<%= link_to (image_tag "msg_icon.png", :width => "37", :height => "37", :class => "marginRight30"), "#" %>
  	  	<%= link_to (image_tag "twitter_icon.png", :width => "37", :height => "37", :class => "marginRight30"), "#" %>
  	  	<%= link_to (image_tag "pintrest_icon.png", :width => "37", :height => "37", :class => "marginRight30"), "#" %>
  	  	<%= link_to (image_tag "facebook_icon.png", :width => "37", :height => "37", :class => "marginRight30"), "#" %>
  	</div>
  	<div class="clearBoth"></div>
  </div>		
</div>


<div class="rightBlock width50">
	<div class="profielView">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="45%" class="darkBorder"><span>Name<%= link_to image_tag("add_folder.png", :width => "22"), "#", :class => 'titleIconImg', :id => "folder_new" %></span></td>
      <td width="20%" class="darkBorder"><span><%= t("general.type") %></span></td>
      <td width="20%" class="darkBorder"><span><%= t("general.date_modified")%></span></td>
      <td width="15%" class="darkBorder"><span><%= t("general.actions")%></span></td>
    </tr>
    <% if session[:parent_folder_id] %>
    	<% if @o_folder.parent_folder.nil? %>
    		<tr><td><%= link_to "..", folders_path %></td></tr>
    	<% else %>
    		<tr><td><%= link_to "..", sub_folders_path(@o_folder.parent_folder.id) %></td></tr>
    	<% end %>	
    <% end %>
    
    <% @o_all.each do |o_row| %>
      <tr>
        <td>
        	<% if o_row.is_folder %>
        		<%= link_to image_tag("design_folder.png", :width => "22", :height => "17") + " " + o_row.name, sub_folders_path(o_row.id) %>
        	<% else %>
        		<%= link_to o_row.name, download_path(o_row.id) %>
        	<% end %>	
        </td>
        <td><%= o_row.file_content_type %></td>
        <td><%= o_row.updated_at.to_s(:pretty) %></td>
        <td>
		      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
		                  folder_path(o_row),
		                  :method => :delete,
		                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
		                  :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </table>
  </div>
</div>	
	
<div id="myModal" class="reveal-modal">
	<%= render 'form' %>
</div>

<script>
	$(function() {
		
		$("#folder_new").click(function () {
			$('#myModal').reveal();
		});			
		
		$("#save_on_cloud").click(function () {
			if ($("#folder_file_path").val() == "") {
				alert("Please choose file");
				return;
			}else {
				$('#spinner').show();
				$('.attachmentsUpload').submit();
			}
		});
		
		$("#save_new").click(function () {
			if ($("#folder_name").val() == "") {
				alert("Please enter name");
			}else {
				$('.save_form_new').submit();
			}
		});		
		
	});	
</script>

