<div class="popupBox">
	<h2>Create Folder</h2>
	<%= form_for @o_single, :html => { :class => 'save_form_new' } do |f| %>
  	<div class="inputLabel">
	    <label>Name</label>
	    <%= f.text_field :name, :class => 'text_field' %>
		  <%= f.hidden_field :file_content_type, :value => "Folder" %>
		  <%= f.hidden_field :user_id, :value => current_user.id %>
		  
		  <%= f.hidden_field :folder_id, :value => (session[:parent_folder_id] ? session[:parent_folder_id] : nil) %>	    
	    <div class="clearBoth"></div>
    </div>

    <div class="inputLabel">
      <label>&nbsp;</label>
      <%= link_to 'Create Folder', "#", :id => "save_new", :class => "btn btn-primary" %>
      <div class="clearBoth"></div>
    </div>
    <div class="clearBoth"></div>
  <% end %>  
</div>
<div class="clearBoth"></div>



