<script type="text/javascript">
	$(document).ready(function() {
	  $('.btn').click (function() {
	    $("#spinner").show();
	  });
	});
</script>
<%= form_for @o_single, :method => "get", :remote => true, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend></legend>
 
 		<% @params_arr.each do |p| %>
	    <div class="control-group">
	      <%= f.label p.capitalize, :class => 'control-label' %>
	      <div class="controls">
	      	<% model_name = params[:model].downcase %>
	        <%= f.text_field p, :value => "", :class => 'text_field' %>
	      </div>
	    </div>
  	<% end %> 
   
    <div class="controls">
      <%= f.submit t("general.search"), :class => 'btn btn-primary', :id => 'search_button_id' %>
      <input type="reset" value="<%= t("general.reset") %>" class="btn btn-primary"/>
      <span data-no-turbolink><%= link_to 'Cancel', show_search_box_path(false, params[:model], true), :class => 'btn', :remote => true %></span>
    </div>
    
  </fieldset>
     
<% end %>
