<%= form_for @o_single, :url => contact_us_path, :html => { :class => 'form-horizontal' } do |f| %>
<div class="loginfom">
  <fieldset>
    <legend></legend>

	    <div class="control-group">
	    	<div class="controls">
	    		<h4><%= t("general.contact_us") %></h4>
		    </div>	  
	    </div> 

    <div class="control-group">
      <label class = 'control-label'><%= t("general.your_name") %></label><span class="redStart">*</span>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
       	<% if @o_single.errors[:name].any? %>
        	<span class="text-error text-message"><%= @o_single.errors[:name].first %></span>
      	<% end %>        
      </div>
    </div>
    
    <div class="control-group">
      <label class = 'control-label'><%= t("general.your_email") %></label><span class="redStart">*</span>
      <div class="controls">
        <%= f.text_field :email, :class => 'text_field' %>
       	<% if @o_single.errors[:email].any? %>
        	<span class="text-error text-message"><%= @o_single.errors[:email].first %></span>
      	<% end %>                
      </div>
    </div>
    	
    <div class="control-group">
    	<div class="controls">
    	<%= t("general.type_your_msg_here") %>
    	<div class="clearBoth"></div>    	
    	<%= f.text_area :message, :class => 'text_field textArea' %>
    	</div>
    </div>


    <div class="form-actions">
      <%= f.submit t("general.send"), :class => 'btn btn-primary' %>
    </div>
    
  </fieldset>
</div>     
<% end %>
