<div class="leftBlock marginRight">
	<%= form_for @o_single, :url => dashboard_path, :remote => true, :method => "post", :html => { :class => 'attachmentsUpload' } do |f| %>
	
		<h2>Locate File</h2>
	
		<%= f.file_field :file_path, :class => 'file browseBtn' %>
		
		<div class="clearBoth"></div>

		<% if !@o_single.file_path.blank? %>
				<%= display_file(@o_single) %>
				<div class="clearBoth">&nbsp;</div>
				<div class="socialBlockCloud"><%= link_to image_tag("cloud.png", :width => "91", :height => "91"), "#", :id => "save_on_cloud"%></div>
		<% elsif @folder and @folder.file_path? %>
			<%= display_file(@folder) %>
			<div class="clearBoth">&nbsp;</div>
			<div class="socialBlockCloud"><%= link_to image_tag("cloud.png", :width => "91", :height => "91"), "#", :id => "save_on_cloud"%></div>
		<% end %>	
	<% end %>		
	
</div>	

<div id="myModal" class="reveal-modal">
	<%= render 'signin_form' %>
</div>

<script>
	$(function() {
		$("#save_on_cloud").click(function () {
			$('#myModal').reveal();
		});	
		$(".attachmentsUpload input.file").change(function () {
		    if ($(".attachmentsUpload input.file").val() == "") {return;}
		    $('#spinner').show();
		    $('.attachmentsUpload').submit();
		});  
	});
</script>


