<%= form_for @o_single, :url => dashboard_path, :remote => true, :html => { :class => 'attachmentsUpload' } do |f| %>
	<fieldset>
		<legend></legend>

		<div class="control-group">
			<div class="controls"><%= f.file_field :file_path, :class => 'file text_field' %></div>
		</div>
		
		<div class="control-group"><div class="controls"><% if @o_single.file_path? %><%= image_tag @o_single.file_path_url(:logo) %><% end %></div></div>
				 		    
       
    <% if current_user %>
    	<%= f.hidden_field :user_id, :value => current_user.id %>
    <% end %>
    

    <%= f.submit "Cloud", :class => 'btn btn-primary' %>

    
  </fieldset>
<% end %>

<script>
$(".attachmentsUpload input.file").change(function () {
    if ($(".attachmentsUpload input.file").val() == "") {return;}
    // your ajax submit
    $('form').submit();
});
</script>
