<div class="page-header">
  <h4><%= t("general.reset_password") %></h4>
</div>

<%= form_for @user, :url => forgot_password_path, :html => { :class => 'form-horizontal' } do |f| %>
<div class="loginfom">
  <fieldset>
    <legend></legend>
	    <div class="control-group">
	      <div class="controls">
				  <% if flash[:forgot_pass_error] %>
				    <div class="alert-error" id="flash_msg_error">
				      <%= flash[:forgot_pass_error] %>
				    </div>
				  <% end %>       
	      </div>
	    </div>

	    <div class="control-group">
	      <%= f.label :email, :class => 'control-label' %><span class="redStart">*</span>
	      <div class="controls">
	        <%= f.text_field :email, :class => 'text_field' %>
	       	<% if @user.errors[:email].any? %>
	        	<i class="text-error"><%= @user.errors[:email].first %></i>
	      	<% end %>        
	      </div>
	    </div>

	    <div class="form-actions">
	      <%= f.submit nil, :class => 'btn btn-primary' %>
	      <%= link_to 'Cancel', root_path, :class => 'btn' %>
	    </div>
  </fieldset>
</div>  
<% end %>
