<%= form_for @user, :url => forgot_password_path, :html => { :class => 'form-horizontal' } do |f| %>
<div class="loginfom">
  <fieldset>
    <legend></legend>
    
	    <div class="control-group">
	    	<div class="controls">
	    		<h4><%= t("general.reset_password") %></h4>
		    </div>	  
	    </div>      

	    <div class="control-group">
	      <%= f.label :email, :class => 'control-label' %><span class="redStart">*</span>
	      <div class="controls">
	        <%= f.text_field :email, :class => 'text_field' %>
	        <% if flash[:forgot_pass_error] %>
	        	<span class="text-error text-message"><%= flash[:forgot_pass_error] %></span>
	    		<% end %>    
	       	<% if @user.errors[:email].any? %>
	        	<span class="text-error text-message"><%= @user.errors[:email].last %></span>
	      	<% end %>        
	      </div>
	    </div>

	    <div class="form-actions">
	      <%= f.submit t("general.reset_password"), :class => 'btn btn-primary' %>
	      <%= link_to 'Cancel', login_path, :class => 'btn' %>
	    </div>
  </fieldset>
</div>  
<% end %>
