<%= form_for @o_single, :html => { :class => 'form-horizontal' } do |f| %>
	<fieldset>
		<legend></legend>
	
    <div class="control-group">
      <%= f.label :first_name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :first_name, :class => 'text_field' %>
      </div>
    </div>		
		
    <div class="control-group">
      <%= f.label :last_name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :last_name, :class => 'text_field' %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :email, :class => 'control-label' %><span class="redStart">*</span>
      <div class="controls">
        <%= f.text_field :email, :class => 'text_field' %>
       	<% if @o_single.errors[:email].any? %>
        	<span class="text-error text-message"><%= @o_single.errors[:email].first %></span>
      	<% end %>        
      </div>
    </div>
    
   
		<% if @o_single.new_record? %>
	    <div class="control-group">
	      <%= f.label :password, :class => 'control-label' %><span class="redStart">*</span>
	      <div class="controls">
	        <%= f.password_field :password, :class => 'text_field' %>
	       	<% if @o_single.errors[:password].any? %>
	        	<span class="text-error text-message"><%= @o_single.errors[:password].first %></span>
	      	<% end %>        	        
	      </div>
	    </div>	
	    
	    <div class="control-group">
	      <%= f.label :password_confirmation, :class => 'control-label' %><span class="redStart">*</span>
	      <div class="controls">
	        <%= f.password_field :password_confirmation, :class => 'text_field' %>
		     	<% if @o_single.errors[:password_confirmation].any? %>
		      	<span class="text-error text-message"><%= @o_single.errors[:password_confirmation].first %></span>
		    	<% end %>        	        
	      </div>
	    </div>		    	
		<% end %> 
		
    <div class="control-group">
      <%= f.label :role_id, :class => 'control-label' %>
      <div class="controls">
        <%= select_tag "role_id", options_for_select(Role.all.collect {|r| [r.role_type, r.id]}, (@o_single.role.id unless @o_single.role.nil?))  %>
      </div>
    </div>

    <div class="control-group"><%= f.label :custom_signature, :class => 'control-label' %><div class="controls"><%= f.text_area :custom_signature, :class => 'text_field' %></div></div>		 
    <div class="control-group"><%= f.label :image, :class => 'control-label' %><div class="controls"><%= f.file_field :image, :class => 'text_field' %></div></div>
    <div class="control-group"><div class="controls"><% if @o_single.image? %><%= image_tag @o_single.image_url, :width => "100", :height => "100" %><% end %></div></div>		 
		 
    <div class="control-group">
      <%= f.label :is_active, :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :is_active, :class => 'check_box' %>
      </div>
    </div>			 
     
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', users_url, :class => 'btn' %>
    </div>
    
  </fieldset>
<% end %>

