<div class="span2">&nbsp;</div>
<div class="span4">
<%= form_for @user_session, :html => { :class => 'form-horizontal' } do |f| %>

<div class="loginfom">
  <fieldset>
  	<legend></legend>
  	
    <div class="control-group">
    	<div class="controls">
    		<%#= image_tag "logo.png" %>
    		<h4>Login</h4>
	    </div>	  
    </div>  	
	  <% if @user_session.errors.any? %>
	    <div class="control-group">
	    	<div class="controls">
	      	<% @user_session.errors.full_messages.each do |msg| %>
	      		<% @msg_var = "general.#{msg.gsub(' ', "_")}" %>
		      	<i class="text-error"><%= t(@msg_var) %></i>
		    	<% end %>
		    </div>	  
	    </div>
	  <% end %>
  	
    <div class="control-group">
      <%= f.label :email, :class => 'control-label' %><span class="redStart">*</span>
      <div class="controls">
        <%= f.text_field :email, :class => 'text_field' %>
      </div>
    </div>
 
    <div class="control-group">
      <%= f.label :password, :class => 'control-label' %><span class="redStart">*</span>
      <div class="controls">
        <%= f.password_field :password, :class => 'text_field' %>
      </div>
    </div> 
 
    <div class="form-actions">
      <%= f.submit t("general.login"), :class => 'btn btn-primary' %>
      <%= link_to t("general.click_here_to_recover_your_account"), forgot_password_path, :class => 'btn' %>
    </div>
    
  </fieldset>
</div>     
<% end %>
</div>
<div class="span5">&nbsp;</div>